<div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
<h2 style="display: flex; justify-content: center; align-items: center;">Total Price : {{totalPrice}}</h2>
<button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
</div>
<div class="productList" *ngFor="let product of cartProducts;">
    <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
        </mat-card-header>
        <div class="card-img-container">
            <img mat-card-image class="card-img" src="{{product.imageUrl}}" alt="Image of {{product.name}}">
        </div>
        <mat-card-content>
          <div>
                <p>Price : {{product.price | currency:"INR"}}</p>
                <p>Quantity : {{product.cartQuantity}}</p>    
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="increment(product.productId)">Add</button>
          <button mat-button (click)="decrement(product.productId)">Remove</button>
        </mat-card-actions>
      </mat-card>
      
</div>
