<div class="filters">
    <mat-form-field appearance="outline">
        <mat-label>Id Filter</mat-label>
        <input matInput placeholder="Search By Id" value="" [(ngModel)]="idFilter" (keyup)="applyFilter()" name="product">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>User Filter</mat-label>
        <input matInput placeholder="Search By User" value="" [(ngModel)]="userFilter" (keyup)="applyFilter()" name="product">
      </mat-form-field>
    
      

      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="applyFilter()">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>